body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #001f54;
    color:white;
}
/* https://coolors.co/ffffff-f3f0e2-d8c89b-57a0c7-2f6c8d-001f54 */
#mainCanva{
    width: 65vw;
    height: auto;
    margin: 2rem 0px;
    align-self: center;
}
#ui {
    width: 200px;
}

.gameOptions{
    align-items: baseline;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: -2.5rem;
}

.gameBoy{
    display: flex;
    flex-direction: column;
    gap:2rem;

}
#kLefts{
    font-size: 1.25rem;
    font-family: sans-serif;
    z-index: 3;
    margin-top:-2.5rem;
}

main{
    display: grid;
    grid-template-columns: 2fr 10fr;
    width: 100vw;
}

.comContainer{
    margin: 1.5rem;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 1rem;
    padding: 1.5rem;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -2px rgba(255, 255, 255, 0.1);}

.first-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.second-title{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical{
    flex-direction: column;
}
.horizontal{
    flex-direction: row;
}

.btn{
    width: 4rem;
    height: 3.75rem;
    border:solid 2px #2F6C8D;
    border-radius: 8px;
    background-color: #57A0C7;
    box-shadow:  -2px -2px 5px #001437,
    2px 2px 5px #002a71; 
    cursor: pointer;
    margin: 0.2em 0.5em;
    align-items: center;
}

.commands{
    display: flex;
    align-items: start;
}

.commands > img{
    width: 20rem;
    height: auto;
}

article{
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

article > section:first-of-type{
    max-width: 40vw;
}

#btnContainer > .horizontal > .btn{
    width: 7.5rem;
    gap:2rem;
}

.widget-outer{
    display:flex;
    flex-direction: row;
    gap: 0.2rem;
    font-family: sans-serif;

}
.widget-label{
    font-size: 1em;
    letter-spacing: 0.075em;
    font-style: italic;
}
.widget-value{
    font-weight: bold;
    padding: 0px 3px;
}
.widget-slider{

}
@media screen and (max-width: 650px){
    #mainCanva{
        width: 90vw;
        height: 70vh;
        margin: 2rem 0px;
    }
    .commands > img{
        width: 350px;
        height: auto;
    }
    article{
        flex-direction: column !important;
    }
    .commands{
        flex-direction: column !important;
    }
    article > section:first-of-type{
        max-width: 70vw;
    }
    #kLefts{
        padding: 0.5rem 1rem 0.5rem 1rem;
        z-index: 3;
    }
}
