body{
    margin:0px;
}
header{
    background-color: #008000;
    height: 25px;
    padding: 10px;
    color: white;
}

.logo{
    float:left;
    background-color: transparent;
    font-size: 18pt;
    margin-top:-8px;
}

.menu{
    float: right;
    display: flex;
    flex-direction: row;
    padding:0px 5px;
    text-align: center;

}

.menuBtn{
    background-color: transparent;
    font-size: 16px;
    border-color: transparent;
    font-family: sans-serif;
    color: white;
    line-height: 25px;
    padding: 0px 5px;
}

.menuBtn:hover{
    background-color: #92E6A7;
    color: black;
}

.container{
    background-color: #464646;
    width:100%;
    height: 95vh;
    position:absolute;
}

.container section{
    margin:0px;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    display: flex;
    overflow-x: hidden;
}

.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.slide {
    width:100%;
    height:100%;
    transition: all 0.15s ease;
}

.slide img{
    object-fit: cover;
    height: 95vh;
    width: 100vw;
    z-index: 1;
}


.carouselBtn{
    position:absolute;
    top:50%;
    height: 100px;
    width:40px;
    background-color: #006400;
    opacity: 50%;
    border: none;
    z-index:2;
}
.carouselBtn:hover{
    opacity:100%;
}
.prev{
    float:left;
    left:0px;
}
.next{
    float:right;
    right:0px;
}

#slides-container input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
    z-index: 3;
    position: relative;
    top: 90vh;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin: 5px;
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
    margin-left:0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
